<!DOCTYPE html>
<html>
<head>
  <meta charSet="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" type="image/x-icon" sizes="64x64" href="/favicon.ico" />
</head>
<body>
  <div id="main">
  </div>
  <div class="version">
    <span>
      v<%= htmlWebpackPlugin.options.version %>
      <%= htmlWebpackPlugin.options.build %>
    </span>
  </div>
  <style>
    .version {
      text-align:center;	
      position: fixed;
      bottom: 0;
      left: 0;
      background-color: #fff;
      opacity: 0.2;
      border-right: 1px solid #63666A;
      border-top: 1px solid #63666A;
      cursor: default;
      vertical-align: middle;
      padding: 5px 10px;
    }
    .version:hover {
      margin: 0;
      opacity: 1;
    }
  </style>
</body>
</html>
